.container {
    color: #606e7b;
    font-family: 'Caveat', cursive;
}

.aboutMe {
    border: 7px solid black;
    box-shadow: 5px 10px 8px 10px black;
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
    border-bottom-left-radius: 10% 30%;
    margin: 20px 20px 20px 20px;
    padding: 32px;
    background-image: linear-gradient(#6b8686, gray);
    
    
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.title {
    text-align: center;
    padding: 10px 0px;
}

.section2 {
    background-color: #606e7b;
}

.section1 {
    background-color: #606e7b;
}

body {
    background-color: #606e7b;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.project2 .card, .projects .card {
    margin-bottom: 15px;
    background-image: linear-gradient(#6b8686, gray);

}
.btn.btn-primary {
    background-color: #606e7b;
    border: #606e7b;
}
 .btn.btn-success {
    background-color: #7e8a8a;
    border: #7e8a8a;
}

.btn.btn-primary:hover, .btn.btn-success:hover {
    background-color: black;
}

  .nav-link.active:hover {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .nav-link.active:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 1s ease-out;
  }
  
  .nav-link.active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .navbar-light .navbar-nav .nav-link.active {
      color: #dedede;
  }

  .card {
      position: relative;
      overflow: auto;
      border-radius:20px;
      transition: .5s;
      margin-top: 10px;
      
  }
  .name { 
    display: inline-block;
    color: #dedede;
    font-family: 'Caveat', cursive;
    font-size: 114px;
    animation: fadeIn linear 7s;
    
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .lead {
    color: #dedede;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    animation: fadeIn linear 7s; 
   }

   .card:hover {
    transform:scale(1.1);
  }

  .section3 {
    margin-top: 5px;
  }